.sidebar-container {
    display: flex;
    flex: 1; /* Allow the sidebar to take up available space */
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .tutorSidebar {
    width: 250px; /* Adjust the width as needed */
    height: 100vh; /* Set the height to 100% of the viewport height */
    background-color: rgb(40, 55, 41);
    overflow-y: auto; /* Add vertical scroll if needed */
  }

  .tutorlogo{
    height: 160px;
    width: 100%;
    
}

  