.courseBodyimg{
    height:400px;
    width: 100%;
    position: relative;
    
}

.allcourses-header{
    color:aqua;
    font-size: 25px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    
    
}